name: Daily update

on:
  workflow_dispatch:
  schedule:
    # At the start of every 4th hour - https://cron.help/#0_*/4_*_*_*
    - cron: 0 */4 * * *
  push:
    branches:
      - main

permissions: 
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json
          run_install: true

      - name: Fetch and update blog posts
        run: pnpm run fetch-blog-posts
        env:
          BLOG_FEED_URL: https://wicksipedia.com/rss.xml
          OUTPUT_FILE: ./README.md

      - name: Fetch and sort YouTube videos
        run: pnpm run fetch-youtube-videos
        env:
          YOUTUBE_CHANNEL_IDS: UCz-9w1yxZVXofthsmh77G1w
          YOUTUBE_PLAYLIST_IDS: PLpiOR7CBNvlouByIBdQP_YiGkrYqKCWgP
          OUTPUT_FILE: ./README.md
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_user_name: Matt Wicks
          commit_user_email: wicksipedia@users.noreply.github.com
          commit_message: "Updated README"

